<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>QR Codes</title>
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet"/>
  <script crossorigin="anonymous"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <style>
      @page {
          size: A4 landscape;
      }
  </style>
</head>

<body th:each="i : ${data}">

<div class="container">
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <h1>Stundenzettel - App Vorgänge Nachunternehmer</h1>
    </div>
    <div>
      <img th:src="@{classpath:static/images/logo.png}"  alt="Logo Werkules" width="250" />
    </div>
  </div>
  <div>
    <table>
      <tr>
        <th>Monat: </th>
        <td th:text="${data[i].month}"></td>
      </tr>
      <tr>
        <th>Zugangsname: </th>
        <td th:text="${data[i].subcontractorEmployeeName}"></td>
      </tr>
      <tr>
        <th>Erstellt am: </th>
        <td th:text="${data[i].exportDate}"></td>
      </tr>
    </table>
  </div>

  <table class="table table-sm table-bordered">
    <thead class="table-dark">
      <th>Tag</th>
      <th>Beginn App</th>
      <th>Entfernung</th>
      <th>Ende App</th>
      <th>Entfernung</th>
      <th>Bezeichnung</th>
    </thead>
    <tbody>
      <tr th:each="work, workStat : ${data[i].workingHours}">
        <td th:text="|${workStat}.|"></td>
        <td th:text="${work.start}"></td>
        <td th:text="${work.startDistance}"></td>
        <td th:text="${work.end}"></td>
        <td th:text="${work.endDistance}"></td>
        <td th:text="|${work.constructionSite.projectNumber}-${work.constructionSite.projectTitle}-${work.constructionSite.projectAddress}|"></td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>