<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>QR Codes</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet"/>
    <script crossorigin="anonymous"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        @page {
            size: A4 landscape;
        }
    </style>
</head>

<body>

<div class="container">
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <h1 th:text="${!designation.equals('')} ? ${designation}: 'Datenübersicht - Eigene Mitarbeiter'"></h1>
            <h2 th:text="${subtitles}"></h2>
            <h3><span class="text-bold">Stand: </span><span th:text="${referenceDate}"></span></h3>
        </div>
        <div>
            <img th:src="@{classpath:static/images/logo.png}"  alt="Logo Werkules" width="250" />
        </div>
    </div>

    <table class="table table-sm">
        <tr>
            <th>#</th>
            <th th:each="key : ${employees[0].keySet()}">
                <span th:text="${key}"></span>
            </th>
        </tr>
        <tr th:each="employee, idStat : ${employees}">
            <td th:text="${idStat.count}"></td>
            <td th:each="data : ${employee.keySet()}">
                <span th:text="${employee.get(data)}"></span>
            </td>
        </tr>
    </table>
</div>

</body>
</html>