<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>QR Codes</title>
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet"/>
  <script crossorigin="anonymous"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <style>
      @page {
          size: A4 portrait;
      }

      body{
          width: 21cm;
          height: 29.7cm;
          margin: 0;
          body: 0;
      }
  </style>
</head>

<body>

<table class="table table-bordered">
  <tr th:each="i : ${#numbers.sequence(0,rows)}">
    <td th:each="j : ${#numbers.sequence(0,2)}">
      <figure>
        <img class="rounded" width="125" height="125" th:src="${(i*3)+j < #lists.size(qrcodes)} ? ${qrcodes[(i*3)+j].image} : ''" th:alt="${(i*3)+j < #lists.size(qrcodes)} ? ${qrcodes[(i*3)+j].name} : ''"/>
        <figcaption class="figure-caption text-center" th:text="${(i*3)+j < #lists.size(qrcodes)} ? ${qrcodes[(i*3)+j].name} : ''"></figcaption>
      </figure>
    </td>
  </tr>
</table>

</body>
</html>