<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sick Leave Report</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script crossorigin="anonymous"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <style>
      @page {
          size: A4 landscape;
      }

      .new-page {
          page-break-before: always;
      }

  </style>
</head>

<body>

<div th:each="sick : ${data}" class="container new-page">
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <h1>Jahresbericht Karnktage <span th:text="${sick.getYear()}"></span></h1>
    </div>
    <div>
      <img th:src="@{classpath:static/images/logo.png}" alt="Logo Werkules" width="250"/>
    </div>
  </div>
  <div>
    <table>
      <tr>
        <th>Mitarbeiter:</th>
        <td th:text="${sick.getEmployeeName()}"></td>
      </tr>
      <tr>
        <th>Stand:</th>
        <td th:text="${sick.getExportDate()}"></td>
      </tr>
    </table>
  </div>

  <hr>

  <div class="d-flex justify-content-between">
    <table class="table table-sm table-bordered text-center">
      <tr class="table-dark">
        <th></th>
        <th th:each="i : ${#numbers.sequence(1,31)}" class="table-dark"><span th:text="|${i}.|"></span></th>
        <th rowspan="13" class="table-light table-borderless"></th>
        <th>&sum;</th>
      </tr>
      <tr th:each="event : ${sick.getMonthlyReport()}">
        <th th:text="${event.getMonth()}"></th>
        <td th:each="date : ${event.getSickLeaves()}"
            th:class="${date == 'F' ? 'text-success' : (date == 'K' ? 'text-danger' : (date == 'W' ? 'table-active' : ''))}"
            th:text="${date != 'W' ? date : ''}"></td>
        <td th:text="${event.getTotalSickLeaves()}"></td>
      </tr>
    </table>
  </div>

  <hr>

  <div class="d-flex justify-content-between">
    <p><span class="fw-bold">Legende: </span> F: Feiertag, K: Krankmeldung</p>
    <p><span class="fw-bold">Summe Kranktage <span th:text="${sick.getYear()}"></span>: </span> <span
      th:text="${sick.getTotal()}"></span></p>
  </div>
  <footer>
    <div class="float-end">
      <p class="fw-lighter" th:text="|Seite ${sick.getCurrentPage()} von ${sick.getTotalPage()}|"></p>
    </div>
  </footer>
</div>

</body>
</html>